<div class="estimate-container">
    <h2 class="btn-default">Premium Calculator</h2>
    <div class="form-group">
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Your premium amount is {{premium}}</strong>
            <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div>
            <label>Enter Type of Vehicle</label>
            <input type="text" class="form-control" name="vehtype" placeholder="Enter(1 or 2) : 1 for Two Wheeler and 2 for Four Wheeler" [(ngModel)]="vehtype"/>
        </div>
        <br>
        <div>
            <label>Enter Plan Type</label>
            <input type="text" class="form-control" name="plan" placeholder="Enter(1 or 2) : 1 for Third Party and 2 for Comprehensive" [(ngModel)]="plan"/>
        </div>
        <br>
        <div>
            <label for='age'>Enter Age of Vehicle</label>
            <input type="text" class="form-control" name="age" placeholder="Enter Age" [(ngModel)]="age"/>
        </div>
        <br>
        <div>
            <label for='price'>Enter Price of Vehicle</label>
            <input type="text" class="form-control" name="price" placeholder="Enter Price" [(ngModel)]="price"/>
        </div>
        <br>
        <div >
            <button type="submit" class="btn btn-success" (click)="CalcPremium()">Estimate</button>
        </div>
    </div>
</div>