<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img class="w-100" src="assets/images/building.jpg">
        </div>
        <div class="col-md-7">
            <div>
                <h3>LTI Insurance Company</h3>
            </div>
            <div style="text-align:justify;">
                <p>
                    LTI Insurance Company Limited was incorporated as a Company on 18th February 1938. General Insurance Business in India was nationalized in 1972. 12 Indian Insurance Companies, 4 Cooperative Insurance Societies and Indian operations of 5 Foreign Insurers, besides General Insurance operations of southern region of Life Insurance Corporation of India were merged with LTI Insurance Company Limited. After Nationalization LTI has grown by leaps and bounds and has over 14000 work force spread across 2280 offices providing insurance cover to 1.74 Crore policy holders. The Company has variety of insurance products to provide insurance cover from bullock carts to satellites.    
                </p>
                <p>
                    LTI has been in the forefront of designing and implementing complex covers to large customers, as in cases of ONGC Ltd , GMR- Hyderabad International Airport Ltd, Mumbai International Airport Ltd Tirumala-Tirupati Devasthanam etc. We have been also the pioneer in taking Insurance to rural masses with large level implementation of Universal Health Insurance Programme of Government of India & Vijaya Raji Janani Kalyan Yojana ( covering 45 lakhs women in the state of Madhya Pradesh) , Tsunami Jan Bima Yojana (in 4 states covering 4.59 lakhs of families) , National Livestock Insurance and many such schemes.
                </p>
                <p>
                    We have also made our presence in more than 1000 tier II & III towns and villages through our innovative Micro Offices.
                </p>
            </div>
        </div>
    </div>
</div>
