<main role="main" class="container ">
    <div class="container">
        <h2 class="text-center">YOUR INSURANCE POLICIES</h2><br>
        <table class="table table-sm table-hover">
            <tr class="table-secondary">
                <th>Policy NO</th>
                <th>Insurance Type</th>
                <th>MotorId</th>
                <th></th>
            </tr><br>
            <tr *ngFor="let InsuranceData of InsuranceDataList">
                <td>{{InsuranceData.InsuranceId}}</td>
                <td>{{InsuranceData.Plans}}</td>
                <td>{{InsuranceData.MotorId}}</td>
                <td><a [routerLink]="['/renew2',InsuranceData.InsuranceId]" class="btn btn-primary btn-sm float-right" >Renew</a></td>
            </tr>
        </table>
    </div>
</main>