<div class="container">
    <div class="text-container">
        <br>
        <div class="txtdata">
        <h3>
            <strong>
            Insurance is priority, not an option.
            <br/>
            Gaurantees for the if in life.
            </strong>
        </h3>
        <p>
        <b style="font-size:larger;">Insurance</b> is a way of managing risks. When you buy insurance, you transfer the cost of a potential loss to the insurance company in exchange for a fee, known as the premium. Insurance companies invest the funds securely, so it can grow, and pay out when there’s a claim.
        </p>
        <p><b>Insurance helps you:</b></p>
        <ul>
            <li><b>Peace of Mind</b> because having insurance offers you financial security and also peace of mind. No amount of money can replace your peace of mind.
            </li>
            <li><b>Maintain your current standard of living</b> if you become disabled or have a critical illness. It covers your day-to-day costs and larger expenses like your mortgage while you focus on your health and recovery.
            </li>
            <li><b>Cover health care</b> costs like prescription drugs, dental care, vision care and other health-related items.
            </li>
            <li><b>Provide for your family</b> in the event of a death. There are life insurance options for short and long-term needs that protect your family’s home, mortgage, lifestyle and the cost of post-secondary education for children.
            </li>
            <li><b>Drive vehicles</b> because this offer protection against natural calamities, damages to third parties and also damages to the vehicle along with mishaps and accidents. Auto insurance is also a legal requirement.</li>
            <li><b>Own a home</b> because mortgage lenders need to know your home is protected. It covers you for repairs and replacement of any damage that’s covered in your policy. It provides protection against theft, damage from perils like fire and water.
            </li>
        </ul>
        </div>
    </div>
    <div class="links-container">
        <ul>
            <a href="/buy"><li>Buy Insurance</li></a>
            <a href="/renew"><li>Renew Insurance</li></a>
            <a href="/claim"><li>Claim Insurance</li></a>
            <a href="/estimate"><li>Estimate Premium</li></a>
        </ul>
    </div>
</div>
