.registerForm{
    width:50%;
    margin-left:25%;
    padding:5%;
    background-color: #eeeeee;
    border-radius: 15px;
    
}

.item-invalid{
    color: red;
    font-weight: 500;
    font-size: small;
    margin-left: 1%;
}
h2{
    text-align: center;
}