<main role="main" class="container ">
  <div class="container">
    <h1 class="text-center">PLANS</h1><br>
    <h4>Choose your Plan</h4>
    <form #planForm='ngForm' (ngSubmit)='saveInsurance(INSURANCE)'>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]='INSURANCE.Plans' type="radio" name="exampleRadios1" id="exampleRadios1" value="ThirdPartyLiability" >
            <label class="form-check-label" for="exampleRadios1">
              Third Party Liability
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]='INSURANCE.Plans' type="radio" name="exampleRadios2" id="exampleRadios2" value="Comprehensive" >
            <label class="form-check-label" for="exampleRadios2">
              Comprehensive
            </label>
          </div><br>
         
          <div>
              <h4>Choose Duration</h4>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]='INSURANCE.Duration' type="radio" name="exampleRadios5" id="exampleRadios5" value="1" >
            <label class="form-check-label" for="exampleRadios5">
              One Year
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]='INSURANCE.Duration' type="radio" name="exampleRadios3" id="exampleRadios3" value="2">
            <label class="form-check-label" for="exampleRadios3">
              Two Year
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]='INSURANCE.Duration' type="radio" name="exampleRadios4" id="exampleRadios4" value="3">
            <label class="form-check-label" for="exampleRadios4">
              Three year
            </label>
          </div>
          <div><br>
            <button type='submit' [disabled]='planForm.invalid' class="btn btn-success">Make Payment</button>
        </div>
    </form>
</div>
</main>